.App {
  height: 100vh;
  overflow: auto;
  font-family: 'Roboto Slab', serif;
  color: black;
}

.button-homepage-1 {
  position: absolute;
  top: 500px;
  left: 200px;
}
.button-homepage-2 {
  position: absolute;
  top: 500px;
  left: 450px;
}

.quotes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: white;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
}
.quotes:hover {
  background-color: #0099ef;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
  border-radius: 20px;
}
.quote-image {
  height: 100px;
}

.homepage-container {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.homepage-heading {
  position: absolute;
  top: 300px;
  left: 200px;
  width: 1000px;
  text-align: left;
  color: white;
}

.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 650px;
  border: solid black;
  border-radius: 20px;
  margin-bottom: 100px;
  box-shadow: 28px 28px 5px 0px rgba(0, 0, 0, 0.75);
  /* margin-top: 30px; */
  padding: 20px;
  background-color: white;
  opacity: 1;
  padding-bottom: 60px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./components/assets/1-unsplash.jpg');
  /* background-position: 150%;
  background-size: 95%; */
  /* background-size: 50%; */
  position: relative;
}

.service-card {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid black 2px;
  margin: 20px;
  border-radius: 20px;
  color: black;
}

.service-card:hover {
  background-color: #0099ef;
  transition: all 0.6s;
  cursor: pointer;
  color: white;
  transform: scale(1.08);
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: solid black 0.5px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.logo {
  width: 225px;
  margin-left: 40px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  margin-right: 130px;
}

.Tradesman-sign-up-button {
  margin-right: 40px;
}

button {
  font-family: 'Roboto Slab', serif;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: solid black 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #0099ef;
  transition: all 0.4s;
  color: white;
}

a {
  background-image: linear-gradient(to right, #0099ef, #0099ef 50%, black 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

a:before {
  content: '';
  background: #0099ef;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

a {
  font-size: 20px;
}

.service-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  /* height: 50px; */
  /* margin-top: 50px; */
}

.Trademanimg {
  object-fit: contain;
  opacity: 0.9;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  height: 650px;
  align-items: center;
  border: solid black;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  /* border: solid #0099ef 10px; */
  box-shadow: 28px 28px 5px 0px rgba(0, 0, 0, 0.75);
}

.form-input {
  padding: 15px;
  font-size: medium;
  margin-bottom: 38px;
  width: 400px;
  border-radius: 10px;
  font-family: 'Roboto Slab', serif;
  border: 1px solid black;
  background-color: white;
}

.form-input-container{
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: start;
  margin: 10px;
  margin-top: 30px;
}

.form-text-area-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 500px;
  width: 410px;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
}

.customer-description{
  height: 200px;
  width: 400px;
  font-size: medium;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Roboto Slab', serif;
}

.customer-page-container {
  display: flex;
  background-image: url('./components/assets/customer-background.jpg');
  height: 1000px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.customer-submit-button{
  position: absolute;
  top: 720px;
  border: solid black 0.2px;
}

.form-heading{
  position: absolute;
  top: 150px;
  color: black;
  opacity: 1;
}

.next-button{
  position: absolute;
  top: 780px;
}

.homepage-info-container{
  animation: fadeIn 3s;
}