.services-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 650px;
  border: solid black;
  border-radius: 20px;
  margin-bottom: 250px;
}

.service-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.service-card{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-card:hover{
  background-color: aquamarine;
  transition: all 0.8s;
  cursor: pointer;
}

.navbar-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo{
  height: 70px;
  margin-left: 20px;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.sign-up-button{
  margin-right: 20px;
}

