.services-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 650px;
  border: solid black;
  border-radius: 20px;
}

.service-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.service-card{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-card:hover{
  background-color: aquamarine;
  transition: all 0.8s;
  cursor: pointer;
}

.navbar-contiainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links{
  /* width: 500%; */
  
}

.sign-up-button{

}